.blog-benefits {
    padding: 10px 20px;
    background-color: #f8f8f8;
    width: 80%;
    margin: 0 auto;

    .benefits-container {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        max-width: 1200px;
        margin: 50px auto;


    }

    .benefit-card {
        width: 240px;
        background-color: #ebe2ea;
        padding: 8px;
        border-radius: 12px;
        display: flex;
        align-items: start;
        gap: 15px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
            transform: translateY(-3px);
        }

        .icon {
            color: #f00bd1; // couleur orange
            width: 36px;
            height: 36px;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .text {
            h3 {
                font-size: 1.1rem;
                font-weight: 600;
                margin: 0;
                color: #333;
            }

            p {
                margin: 5px 0 0;
                color: #666;
                font-size: 0.9rem;
            }
        }
    }

    a {
        text-decoration: none;
        ;
    }

    @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;

        .benefits-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
        }

        .benefit-card {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
            height: 60px;
            padding: 12px 0 0 35px;

            .icon {
                color: #f00bd1; // couleur orange
                width: 30px;
                height: 30px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                h3 {
                    font-size: .8rem;
                    font-weight: 600;
                    margin: 0;
                    color: #333;
                    text-align: center;
                }

                p {
                    margin: 5px 0 0;
                    color: #666;
                    font-size: 0.6rem;
                }
            }
        }

    }
}