.infoSite {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
    background-color: #f9f9f9;


    &__section {
        flex: 1 1 300px;
    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;

        img {
            width: 40px;
            margin: 0.5rem;
        }

        .icone {
            color: blue;
            height: 35px;
            width: 40px;
        }

    }


}