.infoSite {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    padding: 2rem;
    color: #f9f9f9;
    background-color: #5e0372;
    width: 100%;

    &__section {
        /*     flex: 1 1 300px; */
        display: flex;
        flex-direction: column;

    }

    &__icons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
        background-color: transparent;
        opacity: 1;


        img {
            width: 40px;
            margin: 0.5rem;
            background-color: transparent;
        }

        .icone {
            height: 55px;
            width: 40px;
            color: #f9f9f9;
        }

    }


}