.Auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;



    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
        }

        button {
            padding: 10px;
            background: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: #0056b3;
            }
        }

    }

    p {
        margin-top: 10px;
        color: red;
        font-size: 14px;
    }
}

/*

    .password-wrapper {
            position: relative;

            input {
                padding-right: 40px;
            }

            .toggle-password {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }
*/