.searchBar {
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #f6eaf9;
    border: 0.01rem solid #e0bbea;


    .bar {
        color: #888;
        margin-right: 10px;
        margin-left: 10px;
    }

    .searchInput {
        width: 90%;
        height: 38px;
        border: none;
        background-color: #f6eaf9;
    }

    @media (max-width: 768px) {
        width: 450px;
        margin: 0 auto;
        padding: 1px;
        border-radius: 8px;
        width: 80%;
        display: flex;
        align-items: center;

        .bar {
            margin: 0 4px;
            font-size: 18px;
        }

        .searchInput {
            width: 100%;
            font-size: 13px;
            padding: 8px 0;
        }
    }
}