.searchBar {
    max-width: 600px;
    padding: 1px;
    background-color: #f0eeee;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-position: 50% 50%;
    margin-bottom: 100px;
    position: relative;
    left: 28%;
    border-radius: 8px;


    .bar {
        color: #888;
        margin-right: 10px;
        margin-left: 10px;
    }

    .searchInput {
        width: 70%;
        height: 40px;
        border: none;
        background-color: #f0eeee;

    }

    @media (max-width: 768px) {

        max-width: 700px;
        width: 80%;
        left: 0;
        margin: 20px auto;
        padding: 2px 2px;
        border-radius: 8px;

        .bar {
            margin: 0 8px;
            font-size: 18px;
        }

        .searchInput {
            width: 100%;
            font-size: 16px;
            padding: 8px 0;
        }
    }
}