.delivery-form {
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

}

.form-group label {

    font-weight: 600;
    margin-bottom: 6px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-group.checkbox {
    flex-direction: row;
    align-items: center;
}

.Button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.phone-group {
    display: flex;
    gap: 10px;
}

.phone-group select {
    width: 40%;
}

.phone-group input {
    width: 60%;
}