.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    width: 100%;
    background: #f7f7f7;
}

.contact-card {
    background: #fff;
    width: 100%;
    max-width: 550px;
    padding: 2rem 2.5rem;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* ------- Formulaire -------- */

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* Étiquettes */
.contact-label,
select {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    background: #fffcfc;
    color: #5b5757;
}



/* Inputs */
.contact-input,
.contact-textarea {
    width: 100%;
    padding: 0.9rem 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s ease;

    &:focus {
        border-color: #000;
    }
}

/* Textarea spécifique */
.contact-textarea {
    resize: vertical;
    min-height: 140px;
}

/* Bouton */
.contact-button {
    width: 100%;
    padding: 0.9rem;
    background: #000;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
        background: #333;
    }
}

/* Message de statut */
.contact-status {
    text-align: center;
    margin-top: 1rem;
    font-weight: 600;
}