.moncompte {
    display: Block;
    width: 100%;
    padding: 50px;


    /*
    .moncompteContainerI {
        width: 900px;
        background-color: #f5e2f1;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        &__info {

            padding: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            p {
                margin: 8px 0;

                strong {
                    color: #555;
                }
            }
        }


    }

    .moncompteContainerII {
        width: 600px;
        background-color: #dfe8f0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__info {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            p {
                margin: 8px 0;

                strong {
                    color: #555;
                }
            }
        }

        &__profil {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 40px;

            button {
                background-color: #cdb3cd;
                border: none;
                padding: 10px 20px;
                border-radius: 6px;
                margin: 1px;
                cursor: pointer;
                font-size: 14px;
                transition: background 0.3s;

                &:hover {
                    background-color: #e10c88;
                }
            }
        }

        &__addresses {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;

            h2 {
                margin-bottom: 20px;
                color: #333;
            }

            ul {
                list-style: none;
                padding-left: 0;
                margin-bottom: 20px;

                li {
                    background-color: white;
                    margin-bottom: 10px;
                    padding: 10px 15px;
                    border-radius: 6px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                }
            }

            h3 {
                margin-bottom: 15px;
                color: #333;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;

                input,
                select {
                    flex: 1 1 200px;
                    padding: 10px;
                    border-radius: 6px;
                    border: 1px solid #ccc;
                    font-size: 14px;
                }

                button {
                    flex: 1 1 100%;
                    background-color: #28a745;
                    color: white;
                    border: none;
                    padding: 10px 0;
                    border-radius: 6px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background 0.3s;

                    &:hover {
                        background-color: #218838;
                    }
                }
            }
        }
    }
    */
    .moncompte__layout {
        display: flex;
        gap: 2rem;

    }

    .moncompte__sidebar {
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: .2rem;
        // background-color: #f4d5ea;
        padding: 1rem;
        border-radius: 8px;

        button {
            background-color: #890963;
            color: #fff;
            border: none;
            padding: 15px 15px;
            border-radius: 6px;
            cursor: pointer;
            font-size: 14px;
            transition: background 0.3s;

            &:hover {
                background-color: #e10c88;
            }
        }
    }
}

.moncompte__content {
    flex: 1;
    padding: 1rem;
    background-color: #edbfe1;
    border-radius: 8px;
}