.favorites {
    padding: 2rem;
    background-color: #f9f9f9;
    min-height: 100vh;


    &__grid {
        display: flex;
        flex-direction: row;
        justify-content: center; // Centre horizontalement
        align-items: center; // Centre verticalement (si hauteur définie)
        gap: 1.5rem;
        width: 100%; // Laisse respirer le conteneur
        max-width: 900px; // Largeur max raisonnable
        margin: 0 auto; // Centre le bloc dans la page
        padding: 2rem 0; // Un peu d’espace autour
    }

    &__card {
        background: #fff;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 8px 8px 12px 8px rgba(41, 3, 67, 0.1);
        width: 250px; // Taille fixe ou ajustable
        text-align: center; // Centre le contenu interne
    }

    &__img {
        width: 96%;
        height: 400px;
        border-radius: 6px;
    }

    &__info {
        margin-top: 1rem;
    }

    &__no-image {
        width: 400px;
        height: 150px;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
    }
}