.review-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #fff;
}

.reviews-list {
    max-width: 700px;
    margin: auto;
}

.review-card h4 {
    margin-bottom: 5px;
}