.home {

    .title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: #333;
    }

    .searchBar {
        height: 50px;
        width: 800px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 8rem;
    }

    .card {
        border: 1px solid #e5e1e1;
        border-radius: 12px;
        padding: 1rem;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 300px;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: translateY(-15px);
            box-shadow: 0 4px 12px rgba(26, 24, 24, 0.15);
        }

        //27/12/2025
        &__favorite {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;


            .icone {
                width: 24px;
                height: 24px;
                stroke: #999; // couleur du contour par défaut
                fill: transparent; // cœur vide
                transition: all 0.25s ease;
                stroke: white;
            }

            // ❤️ Cœur rempli quand le produit est en favoris
            .active {
                stroke: red;
                fill: red;
            }

            .red {
                //   stroke: red;
                stroke: rgb(179, 175, 175);
                fill: transparent;
            }

            &:hover .icone {
                transform: scale(1.1);
            }
        }

        &_img {
            height: 180px;
            border-radius: 8px;
        }

        h2 {
            font-size: 1.3rem;
            margin: 0.8rem 0;
            color: #222;

        }

        &__content {
            h3 {
                font-weight: 500;
            }

            text-decoration: none;
            font-weight: 400;
        }

        .description {
            font-size: 0.95rem;
            color: #666;
            margin-bottom: 0.8rem;
        }

        .price {
            font-size: 1.2rem;
            font-weight: bold;
            color: #8a2be2;
            margin-bottom: 1rem;
        }

        button {
            background: #8a2be2;
            color: white;
            border: none;
            padding: 0.6rem 1rem;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.2s ease;

            &:hover {
                background: #6a1cb2;
            }
        }
    }
}