 .footer {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     gap: 2px;
     height: 340px;
     width: 1600px;
     position: absolute;
     bottom: -40%;
     left: 0%;
     margin: auto;
     background-color: #5e0372;
     padding: 50px;

     &__text-copyright {
         display: block;
         overflow: hidden;
         margin-bottom: 8px;
         align-items: center;
         text-align: center;
         font-size: 14px;
         background-color: transparent;
     }

     a,
     li {
         background-color: transparent;
         text-decoration: none;
         color: #fff;
     }

     &__ul {
         display: flex;
         flex-direction: column;
         font-size: 13px;
         color: #fff;
         font-weight: 700;
         text-decoration: none;
         line-height: 165%;
         text-align: start;

     }

     .TitreH3 {
         font-size: 13px;
         color: #fff;
         font-weight: 600;
         text-decoration: none;
         background-color: transparent;
     }

     .fa {
         color: #fff;
         font-size: 28px;
         width: 40px;
         position: fixed;
         bottom: 0;
         right: 2.5%;
         border-radius: 5px;
         padding-left: 6px;
         background-color: #695da1;

         #toTop {
             display: none;
             align-self: center;
             position: fixed;
             bottom: 0;
             right: -15%;
             margin-right: 0;
             z-index: 100;
             background-color: #695da1;
             border: 0 none;
             transition: all 0.6s;
             text-decoration: none;
             font-size: 1.5em;
         }
     }

     /*
     @media screen and (min-width: $breakpoint-desktop) and (max-width:$Mmax) {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 190px;
         margin-top: auto;

         &__text-copyright {
             display: flex;
             align-items: flex-end;
             justify-content: center;
             color: $tertiary-color;
             width: 100%;
             margin: 4% 0 3% 0;
             font-size: 18px;
             background-color: transparent;
         }

         .fa {
             font-size: 28px;
             width: 40px;
             position: fixed;
             bottom: 0;
             right: -31%;
             border-radius: 5px;
             padding-right: 6px;
             background-color: rgba(56, 79, 79, 0.12);

             #toTop {
                 display: block;
                 align-self: center;
                 position: fixed;
                 bottom: 0;
                 right: 15%;
                 margin-right: 0;
                 z-index: 100;
                 background-color: #695da1;
                 border: 0 none;
                 transition: all 0.6s;
                 text-decoration: none;
                 font-size: 1.5em;
             }
         }
     }*/
 }