#root,
body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    min-height: 100vh;
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, Poppins, Neue, Arial, sans-serif !important;
    // overflow-x: hidden;
}



.App {
    max-width: 1600px;
    width: 100%;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
}

.body {
    color: #4a4a4a;
    font-family: Poppins, Helvetica Neue, Arial, sans-serif !important;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

#title {
    position: absolute;
    left: 1.2%;
    top: 10%;
}

.logo {
    width: 70px;
    position: fixed;
    top: 3%;
    left: .2%;
    will-change: filter;
    transition: filter 300ms;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;

    img {

        object-fit: cover;
    }

    @media (max-width: 768px) {
        width: 50px;
        top: 3%;
        left: 0%;
    }
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}