.newsletter {
    padding: 50px 20px;
    // background-color: #f59e0b; // couleur orange clair
    background-color: #a543fb;
    color: #fff;
    text-align: center;

    .newsletter-container {
        max-width: 600px;
        margin: 0 auto;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        .newsletter-form {
            display: flex;
            gap: 10px;
            justify-content: center;
            flex-wrap: wrap;

            input {
                flex: 1 1 200px;
                padding: 10px 15px;
                border: none;
                border-radius: 6px;
                font-size: 1rem;
            }

            button {
                padding: 10px 20px;
                background-color: #fff;
                // color: #f59e0b;
                color: #fb18d9;

                font-weight: 600;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover {
                    background-color: #46026b;
                    color: #ffffff;
                }
            }
        }
    }
}