.product-page {
    padding: 20px;
    text-align: center;

    h1 {
        margin-bottom: 25px;
    }

    .admin-action {
        margin-bottom: 20px;

        .btn-add {
            display: inline-block;
        width: 100%;
        padding: 1.2rem 0.6rem;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #8a2be2;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.2s;


        &:hover {
            background-color: #6a1cb2;
        }

        &:active {
            transform: scale(1.15);
        }
        }
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .product-card {
        background: #fff;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: left;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        h3 {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        .price {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 8px;
        }

        .rating {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .star {
                font-size: 1.2rem;
                color: #ccc;

                &.filled {
                    color: #f8d210;
                }
            }

            .rating-value {
                margin-left: 8px;
                font-size: 0.9rem;
                color: #555;
            }
        }

        .comments {
            margin-top: 10px;

            h4 {
                margin-bottom: 5px;
                font-size: 1rem;
            }

            ul {
                padding-left: 15px;
                list-style: disc;

                li {
                    margin-bottom: 5px;
                    font-size: 0.9rem;
                    color: #444;

                    strong {
                        color: #000;
                    }
                }
            }
        }

        .no-comments {
            font-size: 0.9rem;
            color: #777;
        }
    }
}