#page {
    padding: 20px;
    text-align: center;
    margin-top: 60px;

    h1 {
        margin-bottom: 25px;
    }



    .btn-Add,
    .admin-action {
        background: #8a2be2;

        color: white;
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
            background: #6a1cb2;
        }

        &:active {
            transform: scale(1.15);
        }
    }


    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .pr {

        width: 1200px;
        gap: 50px;
    }

    .product-container {
        background: #fff;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        text-align: center;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 250px;
            border-radius: 8px;
            margin-bottom: 10px;
            object-fit: cover;
        }

        h3 {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        .price {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 8px;
        }

        .rating {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .star {
                font-size: 1.2rem;
                color: #ccc;
                background: #8a2be2;


                &.filled {
                    color: #f8d210;
                }
            }

            .rating-value {
                margin-left: 8px;
                font-size: 0.9rem;
                color: #555;
            }
        }

        .comments {
            margin-top: 10px;

            h4 {
                margin-bottom: 5px;
                font-size: 1rem;
            }

            ul {
                padding-left: 15px;
                list-style: disc;

                li {
                    margin-bottom: 5px;
                    font-size: 0.9rem;
                    color: #444;

                    strong {
                        color: #000;
                    }
                }
            }
        }

        .no-comments {
            font-size: 0.9rem;
            color: #777;
        }
    }
}