.Reviewpage {
    width: 100%;
    padding: 4rem;

    p {
        font-size: 0.85rem;
        margin: 25px 0 25px 0;
    }

    .review-page {
        width: 80%;
        margin: 0 auto;
        background: #f9f9f9;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        gap: 50px;

        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    .review-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        .rating-input {
            font-size: 1.5rem;
            width: 800px;

            .star {
                color: #ccc;

                &.filled {
                    color: gold;
                }
            }
        }

        textarea {
            width: 100%;
            min-height: 100px;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ddd;
        }

        .btn-submit {
            background: #007bff;
            color: white;
            padding: 0.7rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background: #0056b3;
            }
        }

        .error {
            color: red;
        }

        .success {
            color: green;
        }
    }

    @media (max-width: 768px) {

        padding: 2rem;

        h1 {
            font-size: 1.6rem;
        }

        p {
            font-size: 0.9rem;
        }

        .review-page {
            width: 100%;
            flex-direction: column;
            gap: 20px;
        }

        .review-form {
            width: 100%;

            .rating-input {
                width: 100%;
                font-size: 1.2rem;
            }
        }
    }
}